<head>
  <meta charset="UTF-8" />
  <title>Car Shop</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <link
    rel="shortcut icon"
    type="x-icon"
    href="https://cdn-icons-png.flaticon.com/512/75/75800.png"
  />
</head>
